<p-table [columns]="cols" [value]="elements" styleClass="p-datatable-sm" scrollHeight="400px" [scrollable]="true">
  <ng-template pTemplate="caption">
    @if (widget?.title) {
      <div>
        {{widget?.title}}
      </div>
    }
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track col) {
        <th>
          {{ col.header }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track col) {
        <td class="small">
          {{ rowData[col.header] }}
        </td>
      }
    </tr>
  </ng-template>
</p-table>
