<div class="p-dialog-content">
  @if (loaded()) {
    <p-table
      [value]="loggers"
      [tableStyle]="{ 'min-width': '50rem' }"
      dataKey="name"
      (onEditComplete)="afterEdit($event)"
      styleClass="p-datatable-sm"
      stripedRows>
      <ng-template pTemplate="header">
        <tr>
          <th>Logger</th>
          <th>Effective Level</th>
          <th class="editable">Level</th>
          <th>Appender</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-logger let-editing="editing">
        <tr>
          <td>{{ logger.name }}</td>
          <td>{{ logger.effectiveLevel }}</td>
          <td [pEditableColumn]="logger" [pEditableColumnField]="'level'" class="editable">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-select
                  [options]="levels"
                  appendTo="body"
                  [(ngModel)]="logger.level"
                  [style]="{ width: '100%' }"></p-select>
              </ng-template>
              <ng-template pTemplate="output">
                {{ logger.level }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{ logger.appender }}</td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    loading...
  }
</div>
<div class="p-dialog-footer">
  <p-button label="Cancel" (click)="close()"></p-button>
  <p-button label="Update" severity="warn" (click)="submit()"></p-button>
</div>
