.p-datatable-wrapper {
//  min-height: calc(100vh - 90px);
}

.table-header {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;

  .left {
    line-height: 3rem;

    p-button {
      height: 3rem;
      display: inline-block;
    }

    ::ng-deep button {
      height: 3rem;
    }
  }

  .right {

    display: flex;
    gap: 10px;

    .quantity {
      line-height: 3rem;
      font-weight: normal;
      font-size: smaller;
      width: 250px;
      text-align: right;
      vertical-align: middle;
    }

    ::ng-deep .p-inputgroup {
      height: 3rem;
    }

    p-button {
      ::ng-deep button {
        vertical-align: middle;
        height: 3rem;
      }
    }
  }
}
.paginator {
  background-color: red;
  width: 100vw;
}
::ng-deep .p-datatable-footer {
  padding: 0;
}

::ng-deep .p-datatable-footer:has(.empty) {
  display: none;
}