<p-confirmDialog></p-confirmDialog>
<div #wrapperDiv style="height: calc(100vh - 100px)">
    <p-table #dt [columns]="cols" [value]="elements" styleClass="p-datatable-gridlines p-datatable-striped"
        [scrollable]="true" scrollHeight="flex" [virtualScroll]="true" [virtualScrollItemSize]="42"
        [tableStyle]="{ 'min-width': '50rem' }" sortMode="multiple" [selectionMode]="selectionMode"
        [(selection)]="selectedElements" [resizableColumns]="true" [loading]="loading" stateStorage="local"
        [stateKey]="storageKey" (onStateRestore)="stateRestore($event)">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <div class="left">
                    <p-tieredMenu #menu [model]="menuItems" [popup]="true" [appendTo]="wrapperDiv" > </p-tieredMenu>
                    <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"
                        *ngIf="menuItems.length > 0"></button>
                    {{title}}
                </div>
                <div></div>
                <div>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input pInputText type="text" #searchInput [(ngModel)]="globalSearch"
                            (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="buscar" />
                        <button type="button" pButton icon="pi pi-times" styleClass="p-button-danger" 
                            (click)="searchInput.value='';dt.filterGlobal('', 'contains')"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4rem" *ngIf="selectionMode=='multiple'">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="col.field" *ngFor="let col of columns" pResizableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr style="height:42px">
                <td *ngIf="selectionMode=='multiple'">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    <app-column [rowData]="rowData" [column]="col"></app-column>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>