<div class="wrapper">
    <div class="label" *ngIf="formItem?.label != null && formItem?.type != 'BUTTON'">
        {{formItem?.label}}
    </div>
    <div class="value" [ngSwitch]="formItem?.type">
        <ng-container *ngSwitchCase="'DATETIME'">
            {{formItem?.value | date:'medium'}}
        </ng-container>
        <ng-container *ngSwitchCase="'RADIO'">
            <div *ngFor="let option of formItem?.options;let indexOfelement=index;" class="field-checkbox">
                <p-radioButton [inputId]="'opt' + indexOfelement" [value]="option.value" [(ngModel)]="radioValue"
                    (onClick)="changeRadio($event.value)"></p-radioButton>
                <label [for]="'opt' + indexOfelement" class="ml-2">{{ option.label }}</label>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'DROPDOWN'">
            <p-dropdown [options]="formItem?.options" [(ngModel)]="dropdownValue" appendTo="body"
                (onChange)="changeDropdown($event.value)"></p-dropdown>
        </ng-container>
        <ng-container *ngSwitchCase="'BITENUM'">
            <p-multiSelect [options]="formItem?.options" [(ngModel)]="bitEnumValue" display="chip"
                [filter]="showMultiSelectFilter" [showToggleAll]="true" [showClear]="true"
                (onChange)="changeBitEnum($event.value)"></p-multiSelect>
        </ng-container>
        <ng-container *ngSwitchCase="'AUTOCOMPLETE'">
            <p-autoComplete [(ngModel)]="autoCompleteValue" [suggestions]="autoCompleteSuggestions"
                (completeMethod)="search($event.query)" (onSelect)="changeAutoComplete($event)"
                (onUnselect)="changeAutoComplete($event)" field="label" [lazy]="true" placeholder="buscar"
                [forceSelection]="true" [showEmptyMessage]="true" (onBlur)="fieldUpdate()"> </p-autoComplete>
        </ng-container>
        <ng-container *ngSwitchCase="'INPUT'">
            <input type="text" pInputText #textInput [(ngModel)]="inputValue" (keyup)="onKey(textInput.value)"
                (blur)="fieldUpdate()" />
        </ng-container>
        <ng-container *ngSwitchCase="'TEXTAREA'">
            <textarea rows="5" cols="30" pInputTextarea  #textArea [(ngModel)]="textareaValue" (keyup)="onKey(textArea.value)" (blur)="fieldUpdate()" ></textarea>    
        </ng-container>
        <ng-container *ngSwitchCase="'SNIPPLET'">
            <div class="snipplet" [innerHtml]="snippletValue | safeHtml"></div>
        </ng-container>
        <ng-container *ngSwitchCase="'UPLOAD'">
            <p-fileUpload [url]="uploadUrl" (onUpload)="onUpload($event)">
                <ng-template pTemplate="content" let-files>
                    <div *ngIf="uploadKeys">Successfull uploaded</div>
                </ng-template>
            </p-fileUpload>
        </ng-container>
        <ng-container *ngSwitchCase="'UPLOADMULTIPLE'">
            <p-fileUpload [url]="uploadUrl" (onUpload)="onUpload($event)" [multiple]="true">
                <ng-template pTemplate="content" let-files>
                    <div *ngIf="uploadKeys">Successfull uploaded</div>
                </ng-template>
            </p-fileUpload>
        </ng-container>
        <ng-container *ngSwitchCase="'DATE'">
            <p-calendar [(ngModel)]="dateValue" #date [showIcon]="true" (onBlur)="changeDate(date.value)"
                (onSelect)="changeDate($event)"></p-calendar>
        </ng-container>
        <ng-container *ngSwitchCase="'ATTRSET'">
            <app-attribute-set [formItem]="formItem"></app-attribute-set>
        </ng-container>
        <ng-container *ngSwitchCase="'CHECKBOX'">
            <div *ngFor="let option of formItem?.options" class="field-checkbox">
                <p-checkbox name="group" [label]="option.label" [value]="option.value"
                    [(ngModel)]="checkboxValue" (onChange)="changeCheckbox($event.checked)"></p-checkbox>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'BUTTON'">
            <p-button [label]="formItem?.label" (click)="executeFieldCmd()"></p-button>
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{readOnlyValue}}
        </ng-container>
    </div>
</div>