.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: stretch;

    .header {
        display: flex;
        column-gap: 10px;
    }

    .tableWrapper {
        min-width: 100%;
        flex-grow: 4;
        flex-shrink: 0;
        overflow: auto;
    }

    .footer {
        display: flex;
        column-gap: 10px;
        flex-direction: row-reverse;
    }
}