<div class="p-dialog-content">
    <app-form-section [formSection]="search.formSection"></app-form-section>
    <div *ngIf="cols && cols.length > 0">
        <p-table [columns]="cols" [value]="elements" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" [(selection)]="selectedElements" styleClass="p-datatable-gridlines p-datatable-striped">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th></th>
                    <th [pSortableColumn]="col.field" *ngFor="let col of columns" pResizableColumn>
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        <div>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="p-dialog-footer">
    <p-button label="Connectar" styleClass="p-button-warning" (click)="submit()"></p-button>
    <p-button label="Buscar" styleClass="p-button" (click)="query()"></p-button>
</div>