<div class="p-dialog-content">
    <p-menubar *ngIf="searchMenuItems.length > 0 && searchMenuItems[0].items" [model]="searchMenuItems"></p-menubar>
    <app-form-section [formSection]="search.formSection"></app-form-section>
    <p-divider></p-divider>
    <div *ngIf="cols && cols.length > 0">
        <p-table [columns]="cols" [value]="elements" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [(selection)]="selectedElements" styleClass="p-datatable-gridlines p-datatable-striped">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th></th>
                    <th [pSortableColumn]="col.field" *ngFor="let col of columns" pResizableColumn>
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox *ngIf="isConnect" [value]="rowData"></p-tableCheckbox>
                        <p-button *ngIf="!isConnect" icon="pi pi-link" [rounded]="true" [outlined]="true"
                            (click)="followLink(rowData)" [style]="{ width:'2rem', height: '2rem' }"></p-button>
                    </td>
                    <td *ngFor="let col of columns">
                        <div>
                            {{rowData[col.field]}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="p-dialog-footer">
    <p-button *ngIf="isConnect" label="Connectar" severity="warning" (click)="submit()"></p-button>
    <p-button label="Buscar" styleClass="p-button" (click)="query()"></p-button>
</div>