<div class="p-dialog-content">
  <span class="p-float-label">
    <p-select id="type" [options]="types" [(ngModel)]="type"></p-select>
    <label htmlFor="type">Tipo</label>
  </span>
  <span class="p-float-label">
    <input pInputText id="title" [(ngModel)]="title" />
    <label htmlFor="title">Titulo</label>
  </span>
  <span class="p-float-label">
    <textarea id="eql" rows="15" cols="150" pInputTextarea [(ngModel)]="eql"> </textarea>
    <label for="eql">EQL</label>
  </span>
  @if (widget.type=='CHART') {
    <div>
      <span class="p-float-label">
        <p-chips id="groupBy" [(ngModel)]="groupBy"></p-chips>
        <label for="groupBy">Agrupar</label>
      </span>
    </div>
  }
  @if (widget.type=='CHART') {
    <div>
      <span class="p-float-label">
        <p-select id="function" [options]="functions" [(ngModel)]="function"></p-select>
        <label htmlFor="function">Funcion</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="key" [(ngModel)]="key" />
        <label htmlFor="key">Llave</label>
      </span>
    </div>
  }
</div>
<div class="p-dialog-footer">
  <p-button label="Actualizar" severity="warn" (click)="submit()"></p-button>
</div>