.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  width: 100%;

  .filters {
    background-color: var(--p-surface-200);
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--p-primary-700);
    overflow: auto;
    min-width: 290px;

    .filterElement {
      padding-top: 1.5rem;

      .pickListHeader {
        min-width: 350px;
      }

      .radio-header {
        margin-bottom: 5px;
        font-weight: var(--p-floatlabel-active-font-weight);
        font-size: var(--p-floatlabel-active-font-size);
        color: var(--p-floatlabel-active-color);
        margin-left: 5px;
      }
      .radio-group {
        padding: 3px;
        background-color: var(--p-inputtext-background);
        .radio-field {
          margin-top: 2px;
          background-color: var(--p-inputtext-background);
          label {
            padding-left: 0.25rem;
          }
        }
      }
    }

    .filterButton {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      position: sticky;
      bottom: 0;
    }
  }
  .content {
    margin-left: 1rem;
    min-width: 50%;
    overflow: auto;
    width: 100%;

    .header {
      text-align: center;
      width: 100%;
    }
    .report {
      text-align: center;
      width: 100%;

      ::ng-deep table {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
::ng-deep .p-listbox-header {
  background-color: var(--p-primary-50);
}
