<div class="value">
  @switch (column().type) {
    @case ("INPUT") {
      <input
        type="text"
        pInputText
        #textInput
        [(ngModel)]="inputValue"
        (keyup)="onKey(textInput.value)"
        (blur)="onInputBlur($event)" />
    }
    @case ("AUTOCOMPLETE") {
      <p-autoComplete
        [(ngModel)]="autoCompleteValue"
        [suggestions]="autoCompleteSuggestions"
        (completeMethod)="search($event.query)"
        (onSelect)="changeAutoComplete($event)"
        (onUnselect)="changeAutoComplete($event)"
        [lazy]="true"
        placeholder="buscar"
        [forceSelection]="true"
        [showEmptyMessage]="true"
        appendTo="body"
        optionLabel="label">
      </p-autoComplete>
    }
    @case ("DROPDOWN") {
      <p-select
        [options]="dropdownOptions()"
        [(ngModel)]="dropdownValue"
        appendTo="body"
        (onChange)="changeDropdown($event.value)"></p-select>
    }
    @default {
      {{ readOnlyValue }}
    }
  }
</div>
