<div class="wrapper">
  @if (currentPage) {
    <app-page [page]="currentPage!!" [editMode]="editMode"></app-page>
  }
</div>
@if (!editMode) {
  <div class="steps-wrapper">
    <p-steps
      [model]="steps"
      [readonly]="false"
      [(activeIndex)]="activeStepIdx"
      (activeIndexChange)="onActiveStepChange($event)"></p-steps>
  </div>
}
@if (!deactivated) {
  <div class="btn">
    @if (editMode) {
      <p-button icon="pi pi-undo" [rounded]="true" (click)="abort()" severity="danger"></p-button>
      <p-button icon="pi pi-save" [rounded]="true" (click)="save()"></p-button>
    } @else {
      <p-speeddial
        [model]="menuItems"
        showIcon="pi pi-image"
        hideIcon="pi pi-times"
        direction="up"
        [mask]="true"
        [style]="{ position: 'absolute', right: '1rem', bottom: '1rem' }"
        [tooltipOptions]="{ tooltipPosition: 'left' }" />
    }
  </div>
}
