.wrapper {
    height: 80vh;
    gridster {
        background-color: var(--surface-300);

        .delete-btn {
            position: absolute;
            top: calc(50% - 8px);
            right: calc(50% - 8px);
        }
    }
}
.add-btn {
    position: absolute;
    z-index: 100;
    bottom: calc(100% - 54px);
    right: calc(-100% + 5px);
}