<div class="wrapper">
    <gridster [options]="options!!">
        <gridster-item [item]="item" *ngFor="let item of items">
            <app-item [widget]="item['widget']" [editMode]="editMode"></app-item>
            <div class="delete-btn" *ngIf="editMode">
                <p-button icon="pi pi-trash" styleClass="p-button-rounded" (click)="removeItem(item)"></p-button>
            </div>
        </gridster-item>
    </gridster>
</div>
<div class="add-btn" *ngIf="editMode">
    <p-button icon="pi pi-plus" styleClass="p-button-rounded" (click)="addItem()"></p-button>
</div>