@if (!editable) {
  <p-table [columns]="cols" [value]="elements" styleClass="p-datatable-gridlines" stripedRows>
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) {
          <th [pSortableColumn]="col.field" pResizableColumn>
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col) {
          <td>
            <div>
              @if (showLink(rowData, col)) {
                <p-button
                  icon="pi pi-link"
                  [rounded]="true"
                  [outlined]="true"
                  (click)="followLink(rowData, col)"
                  [style]="{ width: '2rem', height: '2rem' }"></p-button>
              }
              {{ rowData[col.field] }}
            </div>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
} @else {
  <div class="editable">
    <p-table
      [columns]="cols"
      [value]="elements"
      showGridlines
      stripedRows
      resizableColumns="true"
      size="small"
      stateStorage="local"
      [stateKey]="stateKey"
      [scrollable]="true">
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col) {
            <th pResizableColumn>
              {{ col.header }}
            </th>
          }
          <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 20px">
            <p-button
              icon="pi pi-plus-circle"
              [rounded]="true"
              [raised]="true"
              [text]="true"
              (click)="addEmptyRow()"></p-button>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns" let-i="rowIndex">
        <tr>
          @for (col of columns; track col) {
            <td>
              <div>
                <app-table-element
                  [rowData]="rowData"
                  [column]="col"
                  [index]="i"></app-table-element>
              </div>
            </td>
          }
          <td pFrozenColumn alignFrozen="right" [frozen]="true" style="width: 20px">
            <p-button
              icon="pi pi-times-circle"
              [rounded]="true"
              [raised]="true"
              [text]="true"
              severity="danger"
              (click)="removeRow(i)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
