<div class="wrapper">
  @if (editMode) {
    <div class="btn">
      <p-button icon="pi pi-cog" [rounded]="true" (click)="edit()"></p-button>
    </div>
  }
  @switch (widget?.type) {
    @case ("CHART") {
      <app-chart-widget [widget]="widget"></app-chart-widget>
    }
    @case ("TABLE") {
      <app-table-widget [widget]="widget"></app-table-widget>
    }
    @case ("PLACEHOLDER") {
      @if (widget?.title) {
        <div class="placeholder">
          {{ widget?.title }}
        </div>
      }
    }
    @case ("TEMPLATE") {
      @if (templateLoading()) {
        <div class="loading">
          <p-progress-spinner ariaLabel="loading" />
        </div>
      }
      @switch (templateWidgetData?.widget?.type) {
        @case ("CHART") {
          <app-chart-widget [widget]="templateWidgetData"></app-chart-widget>
        }
        @case ("TABLE") {
          <app-table-widget [widget]="templateWidgetData"></app-table-widget>
        }
      }
    }
  }
</div>
