<div class="btn" *ngIf="editMode">
    <p-button icon="pi pi-cog" styleClass="p-button-rounded" (click)="edit()"></p-button>
</div>
<ng-container [ngSwitch]="widget?.type">
    <ng-container *ngSwitchCase="'CHART'">
        <app-chart-widget [widget]="chartWidget"></app-chart-widget>
    </ng-container>
    <ng-container *ngSwitchCase="'TABLE'">
        <app-table-widget [widget]="tableWidget"></app-table-widget>
    </ng-container>
    <ng-container *ngSwitchDefault>
    </ng-container>
</ng-container>    
