<div class="p-dialog-content">
  <div class="wrapper">
    <p-floatlabel>
      <p-autoComplete
        [(ngModel)]="key"
        [dropdown]="true"
        [suggestions]="keys()"
        (completeMethod)="loadKeys($event)"
        (onSelect)="onKeySelect($event)"
        optionLabel="key"
        appendTo="body"
        [fluid]="true"></p-autoComplete>
      <label for="key">Key</label>
    </p-floatlabel>
    <p-floatlabel>
      <input type="text" id="strValue" pInputText [(ngModel)]="strValue" />
      <label htmlFor="strValue">OID</label>
    </p-floatlabel>
    <p-floatlabel>
      <textarea
        rows="3"
        cols="50"
        id="description"
        pInputTextarea
        [(ngModel)]="description"></textarea>
      <label for="description">Description</label>
    </p-floatlabel>
    <p-floatlabel>
      <p-select
        id="company"
        [options]="companies"
        [(ngModel)]="company"
        optionLabel="name"
        appendTo="body"></p-select>
      <label for="company">Company</label>
    </p-floatlabel>
    <p-floatlabel>
      <input type="text" id="appKey" pInputText [(ngModel)]="appKey" />
      <label htmlFor="appKey">AppKey</label>
    </p-floatlabel>
  </div>
</div>
<div class="p-dialog-footer">
  <p-button [label]="buttonLabel" severity="warn" (click)="submit()"></p-button>
</div>
