<div class="wrapper">
  <div class="filters">
    <p-floatlabel>
      <p-inputnumber [(ngModel)]="limit" inputId="limit" />
      <label for="limit">Limit</label>
    </p-floatlabel>

    <p-floatlabel>
      <input pInputText [(ngModel)]="term" id="term" />
      <label for="term">Term</label>
    </p-floatlabel>

    <p-togglebutton [(ngModel)]="own" onLabel="Own" offLabel="All" />
    <p-button label="load" (click)="load()" />
  </div>

  <p-table
    class="tablewrapper"
    [value]="entries()"
    size="small"
    [resizableColumns]="true">
    <ng-template #header>
      <tr>
        <th pSortableColumn="creator">Creator</th>
        <th pSortableColumn="created">Created</th>
        <th pSortableColumn="stmt">Stmt</th>
      </tr>
    </ng-template>
    <ng-template #body let-entry>
      <tr>
        <td>{{ entry.creator }}</td>
        <td>{{ entry.created }}</td>
        <td style="white-space: wrap;">{{ entry.stmt }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
