.wrapper {
    display: flex;
    gap: 5px;

    .info {
        display: flex;
        align-items: center;
        gap: 5px;

       
    }
}

.infoOverlay {
    min-width: 150px;
    text-align: center;
}

.companies {
    padding: 5px;
    text-align: center;
}

::ng-deep .p-dynamic-dialog {
    max-width: 100%;
}

.custom-icon {
    height: 1rem;
}

.searchBtn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
}