<p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
<p-menubar [model]="menuItems">
    <ng-template pTemplate="end">
        <div class="info">
           {{company?.name}}
            <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info p-button-outlined"
            (click)="op.toggle($event)"></p-button>
            <p-overlayPanel #op>
                <ng-template pTemplate="content" let-option>
                    <div class="infoOverlay">
                        {{user?.firstName}} {{user?.lastName}}
                    </div>
                    <div *ngIf="showCompanySelector" class="companies">
                        <p-button icon="pi pi-building" (click)="switchCompany()"></p-button>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </div>
    </ng-template>
</p-menubar>
<router-outlet></router-outlet>