.wrapper {
    display: flex;
    gap: 5px;

    .info {
        display: flex;
        align-items: center;
        gap: 5px;

        .infoOverlay {
            min-width: 150px;
        }
    }
}

.companies {
    padding: 5px;
    text-align: center;
}