@if (isLoading()) {
<p-progressBar mode="indeterminate" [style]="{ position: 'absolute', height: '6px', width: '100%', 'z-index':'11'}"></p-progressBar>
}
@if (user != undefined) {
<p-menubar [model]="menuItems()" [autoDisplay]="true" [autoHide]="true" [style]="{ position: 'relative', 'z-index':'10'}">
    <ng-template #start>
        <img src="assets/logo.svg" height="40" class="mr-2 icon" (click)="home()" />
    </ng-template>
    <ng-template #end>
        <div class="wrapper">
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input type="text" pInputText #searchInput placeholder="buscar"
                        (keyup.enter)="indexSearch($event, searchInput.value, searchOp)"
                        (focus)='focusSearch($event, searchOp)' />
                </p-iconField>
            </div>
            <div class="info">
                {{company()?.name}}
                <p-button icon="pi pi-user" [rounded]="true" [outlined]="true" (click)="op.toggle($event)"></p-button>
                <p-popover #op>
                    <div>
                        <div class="infoOverlay">
                            {{user.firstName}} {{user.lastName}}
                        </div>
                        <p-divider></p-divider>
                        <div class="infoOverlay">Version: {{version}}</div>
                        <p-divider></p-divider>
                        <div *ngIf="showCompanySelector" class="companies">
                            <p-button icon="pi pi-building" (click)="switchCompany()"></p-button>
                        </div>
                        <p-divider></p-divider>
                        <app-theme-chooser></app-theme-chooser>
                        <p-divider></p-divider>
                        <div class="infoOverlay">
                            <p-button label="Sign out" icon="pi pi-sign-out" (click)="signOut()"></p-button>
                        </div>
                    </div>
                </p-popover>
            </div>
        </div>
    </ng-template>
</p-menubar>
@if (breadcrumbs().length > 0) {
<div #breadcrumbWrapper>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbs()">
        <ng-template #item let-item>
            <span (click)="breadcrumbOnClick(item)">{{item.label}}</span>
        </ng-template>

    </p-breadcrumb>
</div>
}
<p-toast></p-toast>
<p-popover #searchOp [style]="{'width': '450px'}" [showCloseIcon]="true">
    <p-table [value]="searchElements" selectionMode="single" [paginator]="true" [rows]="10" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="name">Valor<p-sortIcon field="text"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-element>
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-button icon="pi pi-link" [rounded]="true" [outlined]="true" (click)="followLink(element)"
                        [style]="{ width:'2rem', height: '2rem' }"></p-button>
                </td>
                <td>{{element.text}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-popover>
}
<router-outlet></router-outlet>
@if (showRestoreSearch()) {
<div class="searchBtn" *ngIf="showRestoreSearch()">
    <p-button icon="pi pi-search" [rounded]="true" severity="success" (click)="restoreSearch()"></p-button>
</div>
}