Estándar:
<div class="wrapper">
    <p-button pTooltip="Dark Purple" (click)="changeTheme('md-dark-deeppurple')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-dark-deeppurple.svg">
    </p-button>
    <p-button pTooltip="Dark Indigo" (click)="changeTheme('md-dark-indigo')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-dark-indigo.svg">
    </p-button>
    <p-button pTooltip="Light Purple" (click)="changeTheme('md-light-deeppurple')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-light-deeppurple.svg">
    </p-button>
    <p-button pTooltip="Light Indigo" (click)="changeTheme('md-light-indigo')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-light-indigo.svg">
    </p-button>
</div>
Compacto:
<div class="wrapper">

    <p-button pTooltip="Dark Purple" (click)="changeTheme('mdc-dark-deeppurple')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-dark-deeppurple.svg">
    </p-button>
    <p-button pTooltip="Dark Indigo" (click)="changeTheme('mdc-dark-indigo')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-dark-indigo.svg">
    </p-button>
    <p-button pTooltip="Light Purple" (click)="changeTheme('mdc-light-deeppurple')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-light-deeppurple.svg">
    </p-button>
    <p-button pTooltip="Light Indigo" (click)="changeTheme('mdc-light-indigo')" [rounded]="true" [outlined]="true">
        <img class="custom-icon" alt="dark indigo icon" src="assets/md-light-indigo.svg">
    </p-button>
</div>