.wrapper {
  text-align: center;
  width: 15rem;

  .color-buttons {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 6px;

    .color-button {
      border: 0;
      border-radius: 50%;
      height: 1.3rem;
      width: 1.3rem;
      cursor: pointer;
    }
  }
}

.custom-icon {
  height: 2rem;
}
