<div [style.height]="contentHeight" class="contentWrapper">
  <div #contentHeader>
    <p-toolbar class="toolbar">
      <ng-template #start>
        @if (isMainActive()) {
          <p-tieredMenu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-tieredMenu>
          @if (menuItems.length > 0) {
            <p-button (click)="menu.toggle($event)" icon="pi pi-bars"></p-button>
          }
        }
        <div class="mainHeader">{{ mainHeader }}</div>
      </ng-template>
    </p-toolbar>
    <div class="tabs">
      <p-tabs [(value)]="activeTab" [scrollable]="true">
        <p-tablist>
          @for (tab of tabs; track tab.id) {
            <p-tab [value]="tab.id" (click)="onSelect(tab)">
              <span class="tabLabel">{{ tab.label }}</span>
            </p-tab>
          }
        </p-tablist>
      </p-tabs>
    </div>
  </div>
  @if (isMainActive() && classifications) {
    <app-classification-display [classifications]="classifications"></app-classification-display>
  }
  @if (isMainActive()) {
    <app-sections [sections]="sections"></app-sections>
  }
  <router-outlet name="contentOutlet" (activate)="onActivate($event)"></router-outlet>
  <p-confirmDialog></p-confirmDialog>
</div>
