.wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    span {
        min-width: 400px;
        margin: 10px;
    }
    input {
        width: 100%;
    }

    ::ng-deep .p-autocomplete {
        width: 100%;
    }

    ::ng-deep .p-select {
        width: 100%;
    }
 }

::ng-deep .p-select-panel {
    width: 100%;
}