.wrapper {
    padding: 25px;
    span {
        min-width: 400px;
        margin: 10px;
    }
    input {
        width: 100%;
    }

    ::ng-deep .p-autocomplete {
        width: 100%;
    }

    ::ng-deep .p-dropdown {
        width: 100%;
    }
 }

::ng-deep .p-dropdown-panel {
    width: 100%;
}