@import "primeicons/primeicons.css";

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Roboto';
    color: var(--p-text-color);
    background-color: var(--p-content-background);

    .watermark {
        background-image: url(./assets/logo.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: 100%;
        width: 100%;
        z-index: 2;
        position: absolute;
        pointer-events: none;
        opacity: 0.05;
    }
}